<body>
  <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Carrito</h2>
  {{#each products}}
    <div>
        <hr></hr>
      <h3 style="font-family: Verdana, sans-serif;">{{this.name}}</h3>
      <p style="font-family: Verdana, sans-serif; font-size: 15px;">Precio: {{this.price}}</p>
      <p style="font-family: Verdana, sans-serif; font-size: 15px;">Descripción: {{this.description}}</p>
    </div>
  {{/each}}
</body>
