<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body class="fondo">
      <nav class="navBar border rounded-4" style="padding: 1rem; margin-top: 10px;">Iniciar Sesión
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
		<ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
			{{#if user}}
					<li class='nav-item'>
						<a class='nav-link active' aria-current='page' href='#'>
									<img src='{{user.img}}' class='img-fluid' style='border-radius: 50%; max-height: 30px;'/>
                  {{user.first_name}}
                  </a>
					</li>
					<li class='nav-item'>
						<form action='/logout' method='post'>
					        <button class='btn btn-outline-danger' type='submit'>Cerrar Sesión</button>
						</form>
					</li>
			{{/if}}
		</ul>
	</div>
    </nav>
    
    <form style="padding: 1.5rem;" class="border border-primary-subtle border-2 rounded-4 contForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Correo electronico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">Nunca compartas tus datos con alguien mas.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Enviar</button>
  </div>
    </form>
</body>
</html>