<div class="container">
  <div class="titulo"><h1>Lista de productos en tiempo real</h1></div>

<div id="formulario">
    <form action="/api/products" method="post">
        <input type="text" required id="name" name="name" placeholder="Nombre del producto"><br>
        <input type="text" required id="description" name="description" placeholder="Descripción del producto"><br>
        <input type="number" required id="price" name="price" placeholder="Precio del producto a publicar"><br>
        <input type="text" required id="code" name="code" placeholder="Código del producto"><br>
        <input type="number" required id="stock" name="stock" placeholder="Stock del producto a publicar"><br>
        <input type="text" required id="type" name="type" placeholder="Tipo de producto a publicar"><br>
        <input type="file" required id="img" name="img" placeholder="Foto!" />
    </form>
    <button type="submit" id="boton">Enviar</button> <br>
    <button type="submit" id="addToCart">Agregar al Carrito</button>
    </div>
  <div class="productos" id="products">
    
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>